<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Register Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
          <form class="login-box" id="login-form" action="{{ url_for('register') }}" method="POST">

            <div class="login">
              <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input type="text"  name="username" required="" class="login__input" placeholder="User name / Email">
              </div>
    
              <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input type="password" name="password" required="" class="login__input" placeholder="Password">
              </div>

              <button class="button login__submit">
                <span class="button__text">Register</span>
                <i class="button__icon fas fa-chevron-right"></i>
              </button>	


         


              {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="flash-messages">
                  {% for message in messages %}
                    {% if message %}
                      <p class="flash-{{ message[1] }}">{{ message }}</p>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          
          <script>
            document.addEventListener('DOMContentLoaded', function () {
              var flashMessages = document.querySelectorAll('.flash-messages p');
              flashMessages.forEach(function (message) {
                setTimeout(function () {
                  message.style.display = 'none';
                }, 2000); // 2 seconds (2000 milliseconds)
              });
            });
          </script>
          

    

            <!-- <a href="#" onclick="submitForm();">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
            </a> -->
            </div>
        </form>
      </div>		
    </div>
  </div>
   
  <div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>		
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>	

      <script>
        function submitForm() {
          document.getElementById("login-form").submit();
        }
      </script>

</body>
</html>
